<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_zombie_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_climb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_climb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,1280},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_zombie_walk_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,1536},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie_texpacker.png</string>
            <key>size</key>
            <string>{384,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f8124bb6a97bb0547174229e2cf6212:c5637420547803503b059d3813f8941b:8a152141f4883390ac35b217efaa1f65$</string>
            <key>textureFileName</key>
            <string>zombie_texpacker.png</string>
        </dict>
    </dict>
</plist>
